.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#edit-post textarea,
#edit-post button {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#edit-post {
    background: #f9f9f9;
    padding: 25px;
    margin: 20px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#edit-post h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#edit-post h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 15px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#edit-post input[type="date"] {
    border: 1px solid #ccc;
    width: 50%;
    height: 30px;
}

#edit-post textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
    height: 160px;
    max-width: 100%;
    resize: none;
}

#edit-post button {
    background: linear-gradient(-20deg, #dc5c71 0%, #de8f5f 100%);
    border: none;
    margin-bottom: 20px;
    width: 50%;
    height: 30px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 9px;
    opacity: 0.8;
}

#edit-post button:hover {
    opacity: 1;
    cursor: pointer;
}

#edit-post input:focus,
#edit-post textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

.d-flex {
    display: flex;
}

.mr-15px {
    margin-right: 15px;
}